* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'CircularSpotifyText', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #db2e2e;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    background-color: black;
    padding: 15px 0;
    width: 100%;
    position: relative;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    width: 120px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.navbar-links a:hover {
    color: #1DB954;
}

.separator {
    font-weight: bold;
    color: gray;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    color: white;
    background: linear-gradient(to bottom, #ef77a1, transparent);
    padding: 40px 20px;
    overflow: hidden; 
}

.hero-img {
    position: absolute;
    top: 60px;
    right: 0;
    height: auto;
    z-index: 0;
    pointer-events: none;
}

.hero .content {
    padding: 20px 20px;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
}

.hero .content > div {
    max-width: 550px;
    width: 100%;
    text-align: left;
    margin: 20px 0;
}

.hero .content h1 {
    font-size: 52px;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: -2px;
    line-height: 1;
}

.hero .content p {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    margin: 10px 0;
    letter-spacing: 0px;
    line-height: 1.4;
}

.hero .content .oferta-info {
    background-color: #2a2a2a;
    padding: 2px 8px;
    border-radius: 2px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
}

.hero .content .oferta-info img {
    width: 20px;
    height: 20px;
}

.hero .content .btn-start, .hero .btn-plans {
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    border: none;
    margin: 15px 0;
}

.hero .content .btn-start {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.hero .content .btn-plans {
    background-color: #1DB954;
    color: white;
    border: 2px solid #1DB954;
}

.hero .content .btn-start:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.hero .content .btn-plans:hover {
    background-color: #1A9A4D;
    border: 2px solid #1A9A4D;
}


/* Siente diferencia */